.markdown-previewer-container {
  color: #0d1a26;

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    &::before {
      display: block;
      height: 5rem;
      margin-top: -5rem;
      content: "";
    }

    &:hover {
      & a.link {
        opacity: 1;
      }
    }

    & a.link {
      margin-left: 8px;
      display: inline-block;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
}
