.code-preview-container {
  & .cp-component {
    & .component-header {
      color: red;
    }

    & .component-content {
      color: green;
    }

    & .component-footer {
      color: yellow;
    }
  }

  & .cp-code {
    & .code-header {
      color: red;
    }

    & .code-tabs {
      color: green;
    }

    & .code-content {
      color: yellow;
    }
  }
}
