.highlight {
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  margin-bottom: 1rem;
  background-color: #f8f9fa;
}

.h2-link-container {
  &::before {
    display: block;
    height: 5rem;
    margin-top: -5rem;
    content: "";
  }

  &:hover {
    & a {
      opacity: 1;
    }
  }

  & .title {}

  & a {
    margin-left: 8px;
    opacity: 0;
    transition: opacity .3s ease;
  }
}
